# Ignore typical temporary and system files
.DS_Store
__pycache__/

myenv

data/**/* 
models/

!data/raw.dvc
#!data/processed.dvc
!data/raw/.gitkeep
!data/processed/.gitkeep

!scripts/
!docs/

!.gitkeep
!.dvc
/dvclive
/tensorboard
