# Ignore typical temporary and system files
.DS_Store
__pycache__/

myenv

data/**/* 

!data/raw.dvc
#!data/processed.dvc
!data/raw/.gitkeep
!data/processed/.gitkeep

!source/
!docs/

!.gitkeep
!.dvc
/dvclive
/tensorboard
/models
/logs

NOTES.md
